*.pyc
.DS_Store
*.iml
/.mypy_cache/
/venv/
/fake_humgen3d.egg-info/
mypy.ini
debug.log
/.idea
/.pytest_cache
.coverage
/htmlcov
/.VSCodeCounter
*.log
backend/updates/humgen3d.backend.updates_updater/
backend/updates/humgen3d.backend.updates_updater/HumGen3D.backend.updates_updater_status.json
