*.pyc
.DS_Store
fake_humgen3d.egg-info/dependency_links.txt
fake_humgen3d.egg-info/PKG-INFO
fake_humgen3d.egg-info/SOURCES.txt
fake_humgen3d.egg-info/top_level.txt
*.xml
*.iml
/.vscode/
/.mypy_cache/
/venv/
/fake_humgen3d.egg-info/
mypy.ini
debug.log
/.idea
/.pytest_cache