*.pyc
.DS_Store
*.iml
/.mypy_cache/
/venv/
/fake_humgen3d.egg-info/
mypy.ini
debug.log
/.idea
/.pytest_cache
.coverage
/htmlcov
/.VSCodeCounter
*.log
backend/updater/humgen3d.backend.updater_updater/HumGen3D.backend.updater_updater_status.json
backend/updater/humgen3d.backend.updater_updater/HumGen3D.backend.updater_updater_status.json
